.footer-copyright {
	padding: 10px 0 !important;
}

.copyright-left {
	text-align: left !important;
}

.powered-right{
	text-align: right !important;
}
.powered-right p{
	color:#4c4c4c;
}
.powered-right p a{
	color:#999999;
}
.need_help{
	background-color: #FFFFFF;
	display:block;
	text-align: center;
	font-size: 20px;
	padding: 10px 0;
	color: #000000;
	width: 60%;
	border-radius:10px;
	margin: 0 auto;
	margin-top: 10px;
}
.blog-content {
    background: #fff none repeat scroll 0 0;
    border-radius:5px;
    padding: 20px 30px;
}
.blog-content h3{
	color: #333333;
}
.blog-content ul{
	padding-left: 20px !important;
}

.blog-content ul li{
	list-style-type: disc;
	color: #000000;
}
.breadcromb-box h3{
	font-size: 30px;
    line-height: 30px;
}
.margin_top_0{
	margin-top: 0px;
}
.margin_bottom_15{
	margin-bottom: 15px;
}

.site-heading{
	width:100%;
}
.padding-15{
	padding: 15px;
}

.padding-10{
	padding: 10px;
}
.client-content img{
	max-width: 160px;
	border: #cccccc 1px solid;
	border-radius: 4px; 
}
.job-content{
    /*margin-bottom: 15px;*/
    background: #fff none repeat scroll 0 0;
    border: 1px solid #eee;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    /*padding: 20px;*/
    border-radius: 4px;
    height: 130px;
}
.job-content h3{
	font-size: 20px;
<<<<<<< HEAD
	width: 100%;
=======
>>>>>>> dbe28e6640d84efbd8f7eb1f920d66f438f9dd8b
}

.company-name a{
	font-size: 16px;
	padding: 10px; 
}
.company-list-logo{
	/*margin-left: 15px;*/
	margin-right: -8px !important;
}
.company-list-logo img{
	max-width: 100px;
	max-height: 100px;
}
.job-title{
	font-size: 11px;
	display: inline-block;
    width: 100%;
}
.job-title a{
	/*color: #000000;*/
	font-size: 20px;
}
.job-title i{
	color: #4bd518;
	font-size: 12px;
}
.top-company-list {
	padding: 10px;
}
.company-list-details>h3{
	margin-bottom: 5px;
}
.client-content li{
	display: block;
    margin-bottom: 15px;
    background: #fff none repeat scroll 0 0;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    /*padding: 0 20px;*/
} 

.advertisement-content li{
	display: block;
    margin-bottom: 15px;
    background: #fff none repeat scroll 0 0;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

<<<<<<< HEAD
.advertisement-content img{
	width: 100%;
}

=======
>>>>>>> dbe28e6640d84efbd8f7eb1f920d66f438f9dd8b
.fjn-job-tab-area .tab-content li{
	float: left;
	padding: 10px;
}

@media (min-width: 1170px) and (max-width: 1500px) {
	.padding-left-right-5{
		padding: 5px;
	}
}

@media (max-width: 640px) {
  .client-content li {
    width: 50%;
<<<<<<< HEAD
    height:70px;
    float: left;
  }
  .client-content img {
  	max-width: 150px;
    max-height: 70px;
=======
    float: left;
  }
  .client-content img {
  	width: 100%;
  	min-height: 70px;
>>>>>>> dbe28e6640d84efbd8f7eb1f920d66f438f9dd8b
  }
  .padding-right-7{
	padding-right: 7px;
  }
  .padding-left-8{
	padding-left: 8px;
  }
<<<<<<< HEAD
}

.fjn-footer-area{
	line-height: 16px;
=======
>>>>>>> dbe28e6640d84efbd8f7eb1f920d66f438f9dd8b
}